.header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.email {
  display: flex;
  align-items: center;
}

.email svg {
  margin-right: 8px;
}

.facebook-icon {
  color: #3b5998; /* Facebook blue color */
  margin-left: 20px;
}

.facebook-icon svg {
  font-size: 1.5em;
}

.menu-icon {
  cursor: pointer;
}

.navbar {
  background-color: #000;
  position: absolute;
  top: 50px;
  width: 100%;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar li {
  padding: 10px 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.navbar a:hover {
  background-color: #444;
}